
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

.classpath
.project
.settings/
.idea/
*.iml
.vscode/

*.log

.DS_Store
Thumbs.db

run/
out/

.cache/
bin/

*.jar
*.zip

__pycache__/
*.pyc
.py
